# Functions
- In python, there are two types of function.
    - Built-in funtions
    - User defined function
- We can create our own customized functions in python for code reusability.

In [ ]:
#Basic Function

In [5]:
def simple_function():
    print('This is user defined function')
print('This is second sentence')

This is second sentence

In [9]:
simple_function()

This is user defined function

In [ ]:
len()

In [ ]:
#Docstring

In [11]:
def function1():
    '''This function will print 2 sentences.'''
    print('This is first sentence')
    print('This is second sentence')

In [13]:
function1()

This is first sentence
This is second sentence

In [15]:
def add():
    print(75+95)

In [17]:
add()

170

In [21]:
add(54,9568)

TypeError: add() takes 0 positional arguments but 2 were given

In [23]:
def add(num1,num2):
    print(num1+num2)

In [29]:
add(74455,57556)

132011

In [31]:
#Write a python function which will return me the maximum number
def max_number(num1,num2):
    '''This function returns max number between given two number'''
    return max(num1,num2)

In [35]:
max_number(74,650)

650

In [37]:
def max_number(a,b):
    if a>b:
        return a
    else:
        return b

In [41]:
max_number(50,55)

55

In [43]:
'python'+'session'

'pythonsession'

In [45]:
add('python','session')

pythonsession

# Loops

1. While Loop 
2. For loop

In [ ]:
#While loops

In [55]:
python = 10

while python > 0:
    print('Learning python',python)
    python = python - 1
    
print('Python completed')

Learning python 10
Learning python 9
Learning python 8
Learning python 7
Learning python 6
Learning python 5
Learning python 4
Learning python 3
Learning python 2
Learning python 1
Python completed

In [51]:
python

0

In [ ]:
age = 0

while age < 18:
    print('Not eligible')
    age = age + 1
    
print('Eligible')

In [1]:
range(1,50)

range(1, 50)

In [7]:
lst = set()
type(lst)

set

In [9]:
#range function
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
list(range(0,21,2))

In [ ]:
#For loop

In [ ]:
lst = [1,2,3,4,5]

In [13]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [15]:
lst = []

for i in range(1,100,2):
    lst.append(i)

In [17]:
lst

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [19]:
for x in range(1,10):
    print(x**2)

1
4
9
16
25
36
49
64
81

In [21]:
#Company list
company = ['flipkart','amazon','excelr']
company

['flipkart', 'amazon', 'excelr']

In [23]:
for i in company:
    print(i)

flipkart
amazon
excelr

In [25]:
for i in company:
    print('www.'+i+'.com')

www.flipkart.com
www.amazon.com
www.excelr.com

# Format Strings

In [28]:
name = input()
age = int(input())
location = input()
course = input()

 ABC
 25
 Pune
 DS

In [34]:
print('Name of student is name. He is age yrs old.')
print('Name of students is', name,'He is',age, 'yrs old')

Name of student is name. He is age yrs old.
Name of students is ABC He is 25 yrs old

In [36]:
#Format strings

print(f'Name of student is {name}.He is {age} yrs old. He is from {location} and he has taken {course} course.')

Name of student is ABC.He is 25 yrs old. He is from Pune and he has taken DS course.